@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.srollbar-none::-webkit-scrollbar{
  display: none;
}

/* Custom scrollbar */
body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@keyframes movetop{
  0% {
    transition: all;
  }
  100%{
    transform: scaleY(0);
  }
}

/* .mtop:hover {
  animation: movetop 1s alternate;

} */


.login-banner-left{
  background-image: url("/assets/images/rb.jpg") !important;
  background-position:center;
  background-size: cover;

}


.slbg{
  background-image: url("/assets/images/reader-bg.jpg") !important;
  background-position:center;
  background-size: cover;
}